<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"> <button class="addimage"
          (click)="uploader.click()"><input hidden type="file" #uploader /><img class="rounded-circle mt-5"
            width="150px" src="../../../assets/newemployee.png"></button><span> </span>
      </div>
    </div>



    <form class="col-md-9 " [formGroup]="candidatForm" (ngSubmit)="creat()">
      <div class="col-md-10 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-right">Ajouter un candidat</h1>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">
                Nom
              </label>
              <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
              <div *ngIf="isValidPatternNom()" class="alert alert-warning">
                Le nom est invalide
                </div>
                <div [hidden]="isRequiredNom()" class="alert alert-danger">
                    Le Nom est un champ obligatoire
                    </div>
            </div>
            <div class="col-md-6">
              <label class="labels">
                Prénom
              </label>
              <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">
              <div *ngIf="isValidPatternPrenom()" class="alert alert-warning">
                Le prenom est invalide
                </div>
                <div [hidden]="isRequiredPrenom()" class="alert alert-danger">
                  Le Prenom est un champ obligatoire</div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">
                Numero tel
              </label>
              <input type="text" class="form-control" placeholder="enter Numero tel" formControlName="tel">
              <div *ngIf="isValidPatternTel()" class="alert alert-warning">
                Le numéro de téléphone est invalide
                </div>
                <div [hidden]="isRequiredTel()" class="alert alert-danger">
                  Le numéro de téléphone est un champ obligatoire</div>
            </div>
            <div class="col-md-12">
              <label class="labels">
                e-mail
              </label>
              <input type="text" class="form-control" placeholder="enter e-mail" formControlName="email">
              <div *ngIf="isValidPatternEmail()" class="alert alert-warning">
               Email invalide
                </div>
                <div [hidden]="isRequiredEmail()" class="alert alert-danger">
                  Email est un champ obligatoire</div>
            </div>

            <div class="col-md-12">
              <label class="labels">
                Adresse
              </label>
              <input type="text" class="form-control" placeholder="enter adresse" formControlName="adresse">
              <div *ngIf="isRequiredAdresse()" [hidden]="isRequiredAdresse()"
              class="alert alert-danger">
                L'adresse est un champ obligatoire</div>
             
          </div>

          
          </div>
          <div class="col-md-6">
            <label class="labels">
              C.V
            </label>
            <input type="file" (change)="uploadCV($event)" >
          </div>

          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit" [disabled]="candidatForm.invalid">
              Ajouter
            </button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>