
<div style="padding-left: 16px; padding-bottom: 16px;">
  <mat-card>
    <form [formGroup]="departementForm" (ngSubmit)="creat()">
      <mat-card-title>Ajouter département</mat-card-title>
      <mat-form-field appearance="standard">
        <mat-label>Nom du département</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>HorraireTravail</mat-label>
        <input matInput formControlName="HorraireTravail">
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>NbrJrSem</mat-label>
        <input matInput formControlName="NbrJrSem">
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>nbrJrCon</mat-label>
        <textarea cdkTextareaAutosize  matInput formControlName="nbrJrCon"></textarea>
      </mat-form-field>

      <br>
      <mat-form-field appearance="standard">
        <mat-label>modePoin</mat-label>
        <textarea cdkTextareaAutosize  matInput formControlName="modePoin"></textarea>
      </mat-form-field>

      <br>
      <mat-form-field appearance="standard">
        <mat-label>NbrPoinJr</mat-label>
        <textarea cdkTextareaAutosize  matInput formControlName="NbrPoinJr"></textarea>
      </mat-form-field>

      <br>
      <mat-form-field appearance="standard">
        <mat-label>horrairePoin</mat-label>
        <textarea cdkTextareaAutosize  matInput formControlName="horrairePoin"></textarea>
      </mat-form-field>

      <mat-card-actions>
        <button mat-button color="primary" type="submit">submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
