<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
<div class="container ">
 <div class="row">
   <div (click)="goToAdd()" class="items col-md-3 ">
      <div class="icon-wrapper">
        <i class="fa fa-duotone fa-plus"></i>
      </div>
      <div class="project-name">
        <p>Add service</p>
      </div>
    </div>
   <div  (click)="goToService()" class="items col-md-3 offset-md-1 ">
      <div class="icon-wrapper">
        <i class="fa fa-file-text-o"></i>
      </div>
      <div class="project-name">
        <p>POSTS</p>
      </div>
    </div>
    <div class="items col-md-3 offset-md-1 ">
      <div class="icon-wrapper">
        <i class="fa fa-file-text-o"></i>
      </div>
      <div class="project-name">
        <p>POSTS</p>
      </div>
    </div>
  </div>
  </div>
  

  