<div *ngIf="employe">
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{employe.imageUrl}}">
              <span class="font-weight-bold">{{employe.nom}} {{employe.prenom}}</span><span class="text-black-50">{{employe.email}}</span><span> </span></div>
      </div>
      <form class="col-md-9 " [formGroup]="employeForm" (ngSubmit)="update()">
      <div class="col-md-10 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h1 class="text-right">Paramètres du profil</h1>
              </div>

              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" formControlName="nom" value="{{employe.nom}}">
                    <div *ngIf="isValidPatternNom()" class="alert alert-warning">
                        Le nom est invalide
                        </div>
                        <div [hidden]="isRequiredNom()" class="alert alert-danger">
                            Le Nom est un champ obligatoire
                            </div>
                </div>
                  <div class="col-md-6"><label class="labels">prenom</label><input type="text" class="form-control" formControlName="prenom" value="{{employe.prenom}}">
                    <div *ngIf="isValidPatternPrenom()" class="alert alert-warning">
                        Le prenom est invalide
                        </div>
                        <div [hidden]="isRequiredPrenom()" class="alert alert-danger">
                          Le Prenom est un champ obligatoire</div>
                </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Numero tel</label><input type="text" class="form-control" formControlName="tel" value="{{employe.tel}}">
                    <div *ngIf="isValidPatternTel()" class="alert alert-warning">
                        Le numéro de téléphone est invalide
                        </div>
                        <div [hidden]="isRequiredTel()" class="alert alert-danger">
                          Le numéro de téléphone est un champ obligatoire</div></div>
                  <div class="col-md-12"><label class="labels">CIN</label><input type="text" class="form-control" formControlName="CIN" value="{{employe.cin}}">
                    <div *ngIf="isValidPatternCin()" class="alert alert-warning">
                        ce CIN est invalide
                         </div>
                         <div [hidden]="isRequiredCin()" class="alert alert-danger">
                           Le CIN est un champ obligatoire</div>
                </div>
                  <div class="col-md-12"><label class="labels">Addresse </label><input type="text" class="form-control" formControlName="adresse"  value="{{employe.adresse}}">
                    <div *ngIf="isRequiredAdresse()" [hidden]="isRequiredAdresse()"
                    class="alert alert-danger">
                      L'adresse est un champ obligatoire</div>
                </div>
                  <div class="col-md-12"><label class="labels">e-mail</label><input type="text" class="form-control" formControlName="email" value="{{employe.email}}">
                    <div *ngIf="isValidPatternEmail()" class="alert alert-warning">
                        email invalide
                        </div>
                        <div [hidden]="isRequiredEmail()" class="alert alert-danger">
                          Email est un champ obligatoire</div>
                </div>
                  <div class="col-md-12"><label class="labels">Mot De Passe</label><input type="text" class="form-control" formControlName="motDePasse" value="{{employe.motDePasse}}">
                    <div *ngIf="isValidPatternMdp()" class="alert alert-warning">
                        mot de passe invalide
                        </div>
                        <div [hidden]="isRequiredMdp()" class="alert alert-danger">
                          Mot de passe est un champ obligatoire</div></div>

              </div>

              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" [disabled]="employeForm.invalid">Modifier</button></div>
          </div>
      </div>
  </form>
  <button class="btn btn-warning " (click)="setValueInForm()">afficher les anciens coordonnées</button>

  </div>
</div>
</div>
