<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container profile-page">
  <div class="row">

    <div class="col-xl-4 col-lg-7 col-md-12" *ngFor="let conge of conges">

      <div class="card profile-header">
        <div class="body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="profile-image float-md-right"> <img src="{{conge.imageEmploye}}" alt=""> </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
              <h4 class="m-t-0 m-b-0 ml-4"><strong>{{conge.nomEmploye}}</strong> {{conge.prenomEmploye}}</h4>
              <span class="job_post ml-4">{{conge.emailEmploye}}</span>
              <h1 class="ml-4">{{conge.type}}</h1>

              <div class="ml-4">Preuve<a href="{{conge.preuve}}" download="preuve">
                <i class="fa fa-solid fa-download"></i>
              </a></div>

              <div class="ml-4"><strong>De:</strong><span>{{conge.dateDebut}}</span><strong
                  class="ml-3">Jusqu'a:</strong><span>{{conge.dateFin}}</span></div>
              <div class="ml-4">
                <button class="btn btn-success btn-round " (click)="ok(conge.id)">Confirmer</button>
                <button class="btn btn-danger btn-round ml-3" (click)="Notok(conge.id)">Refusé</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>
