
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container profile-page">
    <div class="row">
      

        <div class="col-xl-4 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="../../../assets/alaa.jpg" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0 ml-4"><strong>Benhassen</strong> Alaa</h4>
                            <span class="job_post ml-4">ala.alabenhassen@gmail.com</span>
                            <h1 class="ml-4">Autorisation</h1>
                           
                              <div class="ml-4"><strong>Le:</strong><span>12/05/2022</span> <button class="btn btn-success btn-round ml-4" (click)="ok()">Voir Plus</button></div>
                           
                        </div>                
                    </div>
                </div>                    
            </div>
        </div>
        
        
       
    </div>
        
   
</div>